<script setup lang="ts">
import { onMounted, onUnmounted, ref } from "vue";

import { useFoodQueueStore } from "@/stores/foodQueue";
import { useOrderStore } from "@/stores/orders";
import type FoodQueue from "@/types/foodQueue";

const foodQueueStore = useFoodQueueStore();
const orderStore = useOrderStore();
async function serve(foodQueue: FoodQueue) {
  if (foodQueue.status === "พร้อมเสิร์ฟ") {
    await foodQueueStore.serveFinish(foodQueue);
    await foodQueueStore.getAllFoodQueue();
  }
}

function finish(nameTable: string): number {
  let count = 0;

  foodQueueStore.allFoodQueue.forEach((element) => {
    if (
      (element.status === "เสิร์ฟสำเร็จ" || element.status === "ยกเลิก") &&
      element.orderItem?.table?.name === nameTable
    ) {
      count++;
    }

    // console.log(element.orderItem?.order?.table?.name);
    // console.log(order.table?.name);
    // if (element.orderItem?.order?.table?.name === order.table?.name) {
    //   count += count;
    // }
  });

  return count;
}

const fetchRealtimeData = () => {
  foodQueueStore.getAllFoodQueue();
  orderStore.getOrders();
  // finish();
  console.log("pull");
};

// ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
const interval = setInterval(fetchRealtimeData, 500);

// เมื่อ component ถูก unmounted ให้ล้าง interval
onUnmounted(() => clearInterval(interval));
onMounted(async () => {
  await orderStore.getOrders();
  await foodQueueStore.getAllFoodQueue();
  // await new Promise((resolve) => setTimeout(resolve, 5000));
});
</script>

<template>
  <v-container fluid style="height: 100vh">
    <br />
    <h6 style="font-size: 25pt">รายการอาหาร</h6>
    <br />
    <v-expansion-panels>
      <template v-for="(order, indexOD) in orderStore.orders" :key="indexOD">
        <v-expansion-panel
          v-if="finish(order.table!.name!)!==orderStore.allFoodQueue(order) && order.status!=='ชำระแล้ว'"
          style="border: solid #00695c; margin: 10px; background-color: #b2dfdb"
        >
          <v-expansion-panel-title style="font-size: 21px; font-weight: bolder">
            <v-row no-gutters>
              <v-col
                cols="12"
                class="d-flex justify-start"
                style="height: 2rem"
              >
                <h6>
                  โต๊ะ {{ order.table?.name }} &nbsp;&nbsp;&nbsp;
                  {{ finish(order.table!.name!) }}
                  / {{ orderStore.allFoodQueue(order) }}
                </h6>
              </v-col>
            </v-row>
          </v-expansion-panel-title>

          <v-expansion-panel-text outline block>
            <v-row
              no-gutters
              style="
                margin-top: -7px;
                margin-left: -24px;
                margin-right: -24px;
                margin-bottom: -16px;
              "
            >
              <v-col cols="12">
                <v-list style="background-color: whitesmoke">
                  <template
                    v-for="(foodQueue, indexFQ) in foodQueueStore.allFoodQueue"
                    :key="indexFQ"
                  >
                    <v-list-item
                      v-if="foodQueue.orderItem?.table?.id === order.table?.id"
                    >
                      <v-row no-gutters>
                        <v-col cols="5" style="height: 70px">
                          <v-list-item-title style="font-size: 18px">
                            <h6>{{ foodQueue.name }}</h6>
                          </v-list-item-title>
                          <v-list-item-subtitle style="font-size: 16px">
                            <h6 v-if="foodQueue.note !== ''">
                              หมายเหตุ: {{ foodQueue.note }}
                            </h6>
                            <h6 v-else>หมายเหตุ: ไม่มี</h6>
                          </v-list-item-subtitle>

                          <!-- <v-divider class="mt-2"></v-divider> -->
                          <v-divider class="mt-6"></v-divider>
                          <br />
                        </v-col>
                        <v-col cols="4">
                          <h6
                            :style="
                              foodQueue.status === 'ยกเลิก'
                                ? 'color: red'
                                : 'color: black'
                            "
                          >
                            {{ foodQueue.status }}
                          </h6>
                          <v-divider class="mt-10"></v-divider>
                        </v-col>
                        <v-col>
                          <v-btn
                            rounded="pill"
                            @click="serve(foodQueue)"
                            :color="
                              foodQueue.status === 'พร้อมเสิร์ฟ'
                                ? 'success'
                                : 'grey'
                            "
                          >
                            <h6>เสริฟ</h6>
                          </v-btn>
                          <v-divider class="mt-7"></v-divider>
                        </v-col>
                      </v-row>
                    </v-list-item>
                  </template>
                </v-list>
              </v-col>
            </v-row>
          </v-expansion-panel-text>
        </v-expansion-panel> </template
    ></v-expansion-panels>
  </v-container>
</template>
<style scoped>
.extra * {
  font-size: 20px;
  color: red;
}
</style>
