<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { mdiTrashCan, mdiPencil, mdiShopping } from "@mdi/js";
import { useFoodStore } from "@/stores/foods";
import { useOrderItemStore } from "@/stores/orderItem";
import NavigationBottom from "@/components/NavigationBottom.vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import PopupEditOrder from "@/components/PopupEditOrder.vue";
import type OrderItem from "@/types/OrderItem";
import { useQrCodeStore } from "@/stores/qrcode";
import { useOrderStore } from "@/stores/orders";
import orderService from "@/services/order";
import { useNavigationBottonManagement } from "@/stores/navigationBottonManagement";
import type FoodQueue from "@/types/foodQueue";
import type Table from "@/types/Table";
import { useTableStore } from "@/stores/table";
import { useFoodQueueStore } from "@/stores/foodQueue";
import type foodQueue from "@/services/foodQueue";
const qrcodeStore = useQrCodeStore();
const popupStore = usemanagePopupStore();
const orderStore = useOrderStore();
const navBottomStore = useNavigationBottonManagement();
const foodStore = useFoodStore();
const popupManagement = usemanagePopupStore();
const orderItemStore = useOrderItemStore();
const controlBtn = ref(true);
const foodQueueStore = useFoodQueueStore();
const value = ref(1);

const tableStore = useTableStore();
function editOrderItem(orderItem: OrderItem, id: number) {
  orderItemStore.addOrderItemSelect(orderItem);
  console.log(id);
  orderItemStore.orderItemSelectId = id;
  // console.log(orderItemStore.orderItemSelect);
  popupStore.popupEditOrderIsShow = true;
}
async function deleteOrderItem(id: number) {
  orderStore.deleteOrderItem(id);

  await orderStore.getOrderByID(qrcodeStore.orderUUID);
  btnConfirm();
}
const fetchRealtimeData = async () => {
  await orderStore.getOrderByID(qrcodeStore.orderUUID);
};
const interval = setInterval(fetchRealtimeData, 500);

const btnConfirm = () => {
  const all = orderStore.order?.orderItems?.length;
  // let countFoodQ = 0;
  // let countQty = 0;
  // orderItemStore.ordersItem.forEach((element) => {
  //   countQty += element.qty;
  //   element.foodQueue?.forEach((foodQueue) => {
  //     if (foodQueue.status === "รอทำ") {
  //       countFoodQ++;
  //     }
  //   });
  // });

  if (all === 0) {
    controlBtn.value = true;
  } else {
    controlBtn.value = false;
  }
};
onMounted(async () => {
  btnConfirm();
  qrcodeStore.position = localStorage.getItem("positionQR")!;
  qrcodeStore.orderUUID = localStorage.getItem("orderUUID")!;
  tableStore.getTableSelectedID = parseInt(
    localStorage.getItem("getTableSelectedID")!
  );
  await orderStore.getOrderByID(qrcodeStore.orderUUID);
});
function confirm() {
  // let table: Table = orderStore.openedTable!;
  // console.log("bfConfirm: " + table.name);
  // orderItemStore.confirm(orderStore.currentOrder, table);
  // btnConfirm();
  // const res = await orderStore.getOrders();
  // console.log("get order: " + res);
  // await foodQueueStore.getFoodQueueNotUnPaid(tableStore.indexSelected + 1);
  orderStore.confirmOrder(orderStore.order!);
  foodQueueStore.getAllFoodQueue();
}
// watch(food, () => {
//     getFoodsByType();
//   });
</script>

<template>
  <PopupEditOrder />
  <v-container>
    <v-row class="justify-center">
      <v-col cols="12">
        <v-table id="table" height="70vh" fixed-header>
          <thead style="height: 8vh">
            <tr>
              <th class="text-center">รายการอาหาร</th>
              <th class="text-center">จำนวน</th>
              <th class="text-center justify-center align-center">ราคา</th>
              <th class="text-center">สถานะ</th>
              <th class="text-center">ลบ</th>
            </tr>
          </thead>
          <tbody style="height: 10vh; overflow-y: auto">
            <template
              v-for="(item, index) in orderStore.order?.orderItems"
              :key="index"
            >
              <tr style="text-align: center">
                <!-- <td><h6>{{ item. }}</h6></td> -->
                <td style="text-align: start">
                  <h6>{{ item.name }}</h6>
                  <h6 style="font-weight: lighter">
                    หมายเหตุ: {{ item.note }}
                  </h6>
                </td>
                <td>
                  <h6>{{ item.qty }}</h6>
                </td>
                <td>
                  <h6>{{ item.price * item.qty }}</h6>
                </td>
                <td>
                  <h6>{{ item.status }}</h6>
                </td>
                <td>
                  <!-- <v-btn
                    @click="editOrderItem(item, index)"
                    class="ma-2"
                    color="primary"
                  >
                    <v-icon :icon="mdiPencil"></v-icon>
                  </v-btn> -->
                  <v-btn
                    @click="deleteOrderItem(item.id!)"
                    class="ma-2"
                    color="primary"
                  >
                    <v-icon :icon="mdiTrashCan"></v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
          </tbody>
          <v-row>
            <v-col> </v-col>
          </v-row>
        </v-table>
        <v-row style="text-align: center">
          <v-col>
            <v-btn
              :disabled="orderStore.order === ''.toString()"
              @click="confirm()"
              color="success"
              >ยืนยันออเดอร์</v-btn
            >
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <NavigationBottom />
  </v-container>
  <v-container>
    <v-row class="justify-center">
      <v-col>
        <div class="text-center" style="padding-top: 10px"></div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00796b;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 12pt;
}

#table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: beige;
  color: black;
}
</style>
