<script setup lang="ts">
import { useFoodQueueStore } from "@/stores/foodQueue";

const foodQueueStore = useFoodQueueStore();
</script>

<template>
  <v-slot>
    <VTable>
      <tr>
        <th>
          <VImg
            src="https://cdn-icons-png.flaticon.com/512/3449/3449449.png"
            height="50"
          >
            <VBadge
              :content="foodQueueStore.allFoodQueueChef.length"
              color="error"
              floating
            ></VBadge>
          </VImg>
        </th>
      </tr>
      <tr>
        <td class="text-center"><h6>ทำอาหาร</h6></td>
      </tr>
    </VTable>
  </v-slot>
</template>
