<script setup lang="ts">
import { mdiLogout, mdiPlus } from "@mdi/js";
import { useCheckInOutStore } from "@/stores/checkInOut";
import { onMounted } from "vue";
import moment from "moment";
import type CheckInOut from "@/types/checkInOut";
import { useUserStore } from "@/stores/users";
import CheckInOutDialog from "@/components/CheckInOutDialog.vue";

const checkInOutStore = useCheckInOutStore();
const userStore = useUserStore();

onMounted(async () => {
  const res = await checkInOutStore.getCheckInOuts();
});
const fetchRealtimeData = async () => {
  await checkInOutStore.getCheckInOuts();

  // finish();
  console.log("pull");
};

// ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 มิลลิวินาที
const interval = setInterval(fetchRealtimeData, 500);
</script>
<template>
  <CheckInOutDialog></CheckInOutDialog>
  <v-container class="mt-10">
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn
          color="primary"
          :prepend-icon="mdiPlus"
          @click="checkInOutStore.dialog = true"
          class="ma-2"
          rounded="pill"
          ><h6>เช็คอิน</h6></v-btn
        >
      </v-col>
    </v-row>
  </v-container>
  <v-sheet
    class="rounded-lg"
    elevation="4"
    value="rounded-lg"
    style="height: 100vh"
  >
    <v-table class="bg-grey-lighten-4" fixed-header>
      <thead>
        <tr>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">ชื่อ</h6>
          </th>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">นามสกุล</h6>
          </th>
          <th class="text-center text-h5" style="width: 15%">
            <h6 style="font-size: 15pt">เวลาเริ่ม</h6>
          </th>
          <!-- <th class="text-center text-h5" style="width: 15%">
            <h6 style="font-size: 15pt">สถานะ</h6>
          </th> -->
          <th class="text-center text-h5" style="width: 5%">
            <h6 style="font-size: 15pt"></h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <template v-for="item of checkInOutStore.checkInOuts" :key="item.id">
          <tr v-if="item.hour === 0">
            <td>
              <v-container>
                <v-row
                  justify="center"
                  style="font-size: large; font-weight: bold"
                  ><h6>
                    {{ item.employee?.firstname }}
                  </h6>
                </v-row>
              </v-container>
            </td>

            <td>
              <v-container>
                <v-row
                  justify="center"
                  style="font-size: large; font-weight: bold"
                  ><h6>
                    {{ item.employee?.lastname }}
                  </h6>
                </v-row>
              </v-container>
            </td>

            <td>
              <v-container>
                <v-row
                  justify="center"
                  style="font-size: large; font-weight: bold"
                  ><h6>
                    {{ moment(item.timestart).format(" HH:mm:ss") }}
                  </h6>
                </v-row>
              </v-container>
            </td>

            <!-- <td>
              <v-container>
                <v-row
                  justify="center"
                  style="font-size: large; font-weight: bold"
                  ><h6>
                    {{
                      item.hour === 0
                        ? "-"
                        : moment(item.timeend).format(" HH:mm:ss")
                    }}
                  </h6>
                </v-row>
              </v-container>
            </td>

            <td>
              <v-container>
                <v-row
                  justify="center"
                  style="font-size: large; font-weight: bold"
                  ><h6>{{ item.hour }}</h6>
                </v-row>
              </v-container>
            </td> -->

            <!-- <td>
              <v-container>
                <v-row
                  justify="center"
                  style="font-size: large; font-weight: bold"
                  ><h6>{{ item.status }}</h6>
                </v-row>
              </v-container>
            </td> -->

            <td>
              <v-container>
                <v-row class="justify-center">
                  <v-btn
                    class="ma-1"
                    rounded="pill"
                    color="error"
                    @click="checkInOutStore.checkOut(item)"
                    ><h6>เช็คเอาท์</h6>

                    <v-icon end :icon="mdiLogout"> </v-icon>
                  </v-btn>
                </v-row>
              </v-container>
            </td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-sheet>
</template>
