<script setup lang="ts">
import { mdiPencil, mdiTrashCan, mdiPlus } from "@mdi/js";
import { useTableStore } from "@/stores/table";
import { onMounted } from "vue";

const tableStore = useTableStore();
onMounted(async () => {
  await tableStore.getTables();
});
</script>

<template>
  <v-container class="mt-2">
    <v-row>
      <v-col cols="12" align-self="center" class="text-end">
        <v-btn
          class="mr-5"
          color="primary"
          :prepend-icon="mdiPlus"
          size="large"
          rounded="lg"
          @click="tableStore.dialog = true"
          ><h6 style="font-size: 15pt">เพิ่มโต๊ะ</h6></v-btn
        >
      </v-col>
    </v-row>
  </v-container>

  <v-sheet
    class="rounded-lg mx-4 pa-2"
    elevation="2"
    fluid
    style="height: 76vh; overflow: auto; background-color: rgb(178, 223, 210)"
  >
    <v-table class="bg-grey-lighten-4" fixed-header height="73vh">
      <thead>
        <tr>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">โต๊ะที่</h6>
          </th>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">จำนวนที่นั่ง</h6>
          </th>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">สถานะ</h6>
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item of tableStore.tables" :key="item.id">
          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.name }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.amount }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.status }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row class="justify-center">
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="secondary"
                  @click="tableStore.editTable(item)"
                  ><h6>แก้ไข</h6>

                  <v-icon end :icon="mdiPencil"> </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="error"
                  @click="tableStore.deleteTable(item.id!)"
                  ><h6>ลบ</h6>

                  <v-icon end :icon="mdiTrashCan"> </v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-sheet>
</template>

<style scoped>
.btn {
  height: 5vh;
  font-size: 14pt;
}
</style>
