<script lang="ts" setup>
import { usemanagePopupStore } from "@/stores/popupManagement";
import orderService from "@/services/order";
import { useOrderStore } from "@/stores/orders";
import { useTableStore } from "@/stores/table";
import tableService from "@/services/table";
import type Table from "@/types/Table";
import { onMounted, onUnmounted, ref } from "vue";
import ScanQRVue from "@/components/ScanQR.vue";
import type order from "@/services/order";
import { useRouter } from "vue-router";
import { useQrCodeStore } from "@/stores/qrcode";
const qrcodeStore = useQrCodeStore();
const popupStore = usemanagePopupStore();
const tablesStore = useTableStore();
const orderStore = useOrderStore();
const swithText = ref("");
const router = useRouter();
const props = withDefaults(
  defineProps<{
    id: number;
    name: string;
    amount: number;
    status: string;
  }>(),
  {}
);

const opened = ref(props.status);

async function openTable() {
  console.log(tablesStore.indexSelected);
  let table: Table = {
    status: "กำลังใช้งาน",
  };
  tableService.updateTable(props.id, table);
  orderStore.openOrder(tablesStore.tables[props.id - 1]);
}
const fetchRealtimeData = async () => {
  await orderStore.getOrdersNP();
  await tablesStore.getTables();
};

// ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
const interval = setInterval(fetchRealtimeData, 1000);

// เมื่อ component ถูก unmounted ให้ล้าง interval
onUnmounted(() => clearInterval(interval));
onMounted(async () => {
  await orderStore.getOrdersNP();
  await tablesStore.getTables();
});
function scanQR() {
  tablesStore.getTableSelectedID = props.id;
  console.log(orderStore.ordersNP);
  orderStore.ordersNP.forEach((order) => {
    if (order.table?.id === props.id) {
      qrcodeStore.link = "http://localhost:5173/menu/" + order.id;
      localStorage.setItem("orderUUID", "" + order.id);
      qrcodeStore.link = "" + order.id;
      qrcodeStore.orderUUID = "" + order.id;
      popupStore.nameTable = props.name;
      popupStore.scanQR = true;
      console.log("dssd");
      return;
    }
    console.log("not found");
  });
}

function orderFood() {
  console.log("not ORder");
  tablesStore.getTableSelectedID = props.id;
  localStorage.setItem("positionQR", "");
  orderStore.ordersNP.forEach((order) => {
    if (order.table?.id === props.id) {
      localStorage.setItem("getTableSelectedID", "" + props.id!);
      qrcodeStore.orderUUID = "" + order.id;
      localStorage.setItem("orderUUID", "" + order.id);
      qrcodeStore.link = "http://localhost:5173/menu/" + order.id;
      qrcodeStore.link = "" + order.id;
      router.replace("/menu/" + order.id);
      return;
    }
    console.log("not found");
  });
}

async function changeStatus() {
  if (props.status === "รอทำความสะอาด") {
    let table: Table = {
      status: "กำลังทำความสะอาด",
    };
    await tableService.updateTable(props.id, table);
  } else if (props.status === "กำลังทำความสะอาด") {
    let table: Table = {
      status: "พร้อมใช้งาน",
    };
    await tableService.updateTable(props.id, table);
  }
}
onMounted(async () => {
  orderStore.getOrdersNP();
  tablesStore.getTables();
});
</script>

<template>
  <v-card class="mx-auto" max-width="500" height="225" variant="outlined">
    <v-card-item>
      <div class="text-center">
        <h6 style="font-size: 30pt">โต๊ะที่ {{ props.name }}</h6>
        <h6 style="font-size: 20pt">จำนวนที่นั่ง {{ props.amount }}</h6>
        <h6 style="font-size: 20pt">สถานะ {{ props.status }}</h6>
      </div>
    </v-card-item>
    <v-card-actions class="justify-center">
      <v-btn
        v-if="props.status === 'พร้อมใช้งาน'"
        class="mb-4 font-weight-medium text-h5"
        color="secondary"
        size="large"
        variant="flat"
        @click="openTable()"
      >
        เปิดโต๊ะ
      </v-btn>
      <v-btn
        v-if="props.status === 'กำลังใช้งาน'"
        class="mb-4 font-weight-medium text-h5"
        color="secondary"
        size="large"
        variant="flat"
        @click="scanQR()"
      >
        สแกน QR Code
      </v-btn>
      <v-btn
        v-if="props.status === 'กำลังใช้งาน'"
        class="mb-4 font-weight-medium text-h5"
        color="indigo-darken-3"
        size="large"
        variant="flat"
        @click="orderFood()"
        :disabled="props.status === 'กำลังใช้งาน' ? false : true"
      >
        สั่งอาหาร
      </v-btn>
      <v-btn
        v-if="props.status === 'รอทำความสะอาด'"
        class="mb-4 font-weight-medium text-h5"
        color="indigo-darken-3"
        size="large"
        variant="flat"
        @click="changeStatus"
      >
        ทำความสะอาด
      </v-btn>
      <v-btn
        v-if="props.status === 'กำลังทำความสะอาด'"
        class="mb-4 font-weight-medium text-h5"
        color="indigo-darken-3"
        size="large"
        variant="flat"
        @click="changeStatus"
      >
        ทำความสะอาดแล้ว
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script></script>
